Repository kawanishi0117/chatbot, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, frontend-ui, frontend-console, infra, docs, dependencies

GitHub Actionsのラベラー設定を更新
  .github/workflows/labeler.yml
Labels: infra

Q dev issue 29 1753458149 (#31)
  frontend/chatbot-console/src/App.tsx
  frontend/chatbot-console/src/components/OverviewPanel.tsx
  frontend/chatbot-ui/src/components/ChatArea.tsx
  frontend/chatbot-ui/src/components/Header.tsx
  frontend/chatbot-ui/src/components/Sidebar.tsx
Labels: frontend, frontend-ui, frontend-console

ユーザー管理APIの追加と招待機能の実装
  backend/chat-router/src/handlers/user_handler.py
  backend/chat-router/src/lambda_function.py
  backend/chat-router/template.yaml
  frontend/chatbot-console/src/components/UserPanel.tsx
  frontend/chatbot-console/src/services/api.ts
  frontend/chatbot-ui/package-lock.json
  frontend/chatbot-ui/package.json
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/components/InvitationAccept.tsx
  frontend/chatbot-ui/src/services/api.ts
Labels: backend, frontend, frontend-ui, frontend-console, dependencies

共通認証ユーティリティの追加とユーザー管理機能のリファクタリング
  backend/chat-router/src/common/auth_utils.py
  backend/chat-router/src/handlers/user_handler.py
  frontend/chatbot-console/src/components/UserPanel.tsx
  frontend/chatbot-ui/src/components/InvitationAccept.tsx
Labels: backend, frontend, frontend-ui, frontend-console

重複API呼び出しの防止とクリーンアップ処理の追加
  DUPLICATE_API_FIX.md
  frontend/chatbot-console/src/App.tsx
  frontend/chatbot-console/src/index.tsx
  frontend/chatbot-console/src/services/api.ts
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/index.tsx
  frontend/chatbot-ui/src/services/api.ts
Labels: frontend, frontend-ui, frontend-console, docs

フロントエンドのルーティングを改善し、ボット詳細ページを統合
  frontend/chatbot-console/package-lock.json
  frontend/chatbot-console/src/App.tsx
  frontend/chatbot-console/src/components/BotSettingsPanel.tsx
  frontend/chatbot-console/src/components/Header.tsx
  frontend/chatbot-console/src/components/Sidebar.tsx
  frontend/chatbot-console/src/components/UserPanel.tsx
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/components/ChatInput.tsx
  frontend/chatbot-ui/src/components/Header.tsx
Labels: frontend, frontend-ui, frontend-console

フロントエンドのルーティングを改善し、React Routerのバージョンを6.9.0から6.30.1に更新。不要なルートコンポーネントを削除し、メインアプリケーションのルーティングを簡素化。新たに@remix-run/routerを追加し、依存関係を整理。
  frontend/chatbot-ui/package-lock.json
  frontend/chatbot-ui/src/App.tsx
Labels: frontend, frontend-ui

プロジェクト開発ルールを追加し、ボット設定ハンドラーに認証チェックを実装。ユーザー招待機能を改善し、権限管理を強化。フロントエンドでのボットアクセス権限確認機能を追加し、UIを調整。全体的なコードの可読性を向上させるためのリファクタリングを実施。
  .cursor/rules/always.mdc
  backend/chat-router/src/common/auth_utils.py
  backend/chat-router/src/handlers/bot_settings_handler.py
  backend/chat-router/src/handlers/user_handler.py
  backend/chat-router/src/lambda_function.py
  frontend/chatbot-console/src/App.tsx
  frontend/chatbot-console/src/components/UserPanel.tsx
  frontend/chatbot-console/src/services/api.ts
  frontend/chatbot-console/src/types/index.ts
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/components/InvitationAccept.tsx
  frontend/chatbot-ui/src/components/Sidebar.tsx
  frontend/chatbot-ui/src/services/api.ts
Labels: backend, frontend, frontend-ui, frontend-console

バックエンドの認証ユーティリティにログ出力を追加し、ユーザー情報取得時のエラーハンドリングを強化。フロントエンドでのログアウト処理にローディング状態を追加し、ユーザー情報とレスポンスデータのデバッグログを実装。UIコンポーネントのローディングオーバーレイを改善。
  backend/chat-router/src/common/auth_utils.py
  backend/chat-router/src/handlers/user_handler.py
  frontend/chatbot-console/src/App.tsx
  frontend/chatbot-console/src/components/Header.tsx
Labels: backend, frontend, frontend-console

APIエンドポイントの追加とチャットルーム管理機能の実装。新しいAPIエンドポイントを追加し、チャットルームの作成、取得、削除機能を実装。フロントエンドでのエラーハンドリングを強化し、認証エラー時の処理を追加。プロジェクト開発ルールを更新し、APIエンドポイント追加時のチェックリストを作成。
  .cursor/rules/always.mdc
  .cursor/rules/api-endpoint-checklist.mdc
  backend/chat-router/src/handlers/chat_handler.py
  backend/chat-router/src/lambda_function.py
  backend/chat-router/src/storage.py
  backend/chat-router/template.yaml
  frontend/chatbot-console/src/App.tsx
  frontend/chatbot-console/src/services/api.ts
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/components/ChatArea.tsx
  frontend/chatbot-ui/src/services/api.ts
  frontend/chatbot-ui/src/types/index.ts
Labels: backend, frontend, frontend-ui, frontend-console

バックエンドの設定取得キーを「SETTINGS」から「CONFIG」に変更し、フロントエンドでのチャットルーム作成失敗時に適切なアラートを表示するように修正。エラーハンドリングを強化し、ユーザー体験を向上させました。
  backend/chat-router/src/storage.py
  frontend/chatbot-ui/src/App.tsx
Labels: backend, frontend, frontend-ui

チャットメッセージ取得APIを追加し、フロントエンドでのボット選択モーダルを実装。チャットメッセージの取得機能を強化し、ユーザー体験を向上させるためのローディング状態を追加。エラーハンドリングを改善し、メッセージ履歴の表示を最適化しました。
  backend/chat-router/src/handlers/chat_handler.py
  backend/chat-router/src/storage.py
  backend/chat-router/template.yaml
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/components/BotSelectionModal.tsx
  frontend/chatbot-ui/src/components/ChatArea.tsx
  frontend/chatbot-ui/src/components/Sidebar.tsx
  frontend/chatbot-ui/src/services/api.ts
Labels: backend, frontend, frontend-ui

バックエンドに共通ユーティリティ関数を追加し、Decimal型の変換機能を実装。ボット設定ハンドラーとチャットハンドラーでのDecimal型の処理をリファクタリングし、時間順序付きUUIDの生成を統一。フロントエンドでのチャット機能を改善し、カスタムフックを導入してコードの可読性を向上させました。また、API呼び出しの重複を防ぐための処理を追加しました。
  .claude/settings.local.json
  backend/chat-router/src/common/utils.py
  backend/chat-router/src/handlers/bot_settings_handler.py
  backend/chat-router/src/handlers/chat_handler.py
  backend/chat-router/src/handlers/user_handler_backup.py
  backend/chat-router/src/handlers/user_handler_refactored.py
  backend/chat-router/src/services/__init__.py
  backend/chat-router/src/services/auth_service.py
  backend/chat-router/src/services/profile_service.py
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/hooks/index.ts
  frontend/chatbot-ui/src/hooks/useAuth.ts
  frontend/chatbot-ui/src/hooks/useChat.ts
Labels: backend, frontend, frontend-ui

Dev (#36)
  .claude/settings.local.json
  .cursor/rules/always.mdc
  .cursor/rules/api-endpoint-checklist.mdc
  CLAUDE.md
  backend/chat-router/samconfig.toml
  backend/chat-router/src/common/auth_utils.py
  backend/chat-router/src/common/utils.py
  backend/chat-router/src/handlers/bot_settings_handler.py
  backend/chat-router/src/handlers/chat_handler.py
  backend/chat-router/src/handlers/custom_handler.py
  backend/chat-router/src/handlers/user_handler_backup.py
  backend/chat-router/src/handlers/user_handler_refactored.py
  backend/chat-router/src/lambda_function.py
  backend/chat-router/src/normalizers/custom_normalizer.py
  backend/chat-router/src/services/__init__.py
  backend/chat-router/src/services/auth_service.py
  backend/chat-router/src/services/profile_service.py
  backend/chat-router/src/storage.py
  backend/chat-router/template.yaml
  frontend/chatbot-console/src/App.tsx
  frontend/chatbot-console/src/components/Header.tsx
  frontend/chatbot-console/src/components/UserPanel.tsx
  frontend/chatbot-console/src/services/api.ts
  frontend/chatbot-console/src/types/index.ts
  frontend/chatbot-ui/package-lock.json
  frontend/chatbot-ui/package.json
  frontend/chatbot-ui/src/App.tsx
  frontend/chatbot-ui/src/components/BotSelectionModal.tsx
  frontend/chatbot-ui/src/components/ChatArea.tsx
  frontend/chatbot-ui/src/components/Sidebar.tsx
  frontend/chatbot-ui/src/hooks/index.ts
  frontend/chatbot-ui/src/hooks/useAuth.ts
  frontend/chatbot-ui/src/hooks/useChat.ts
  frontend/chatbot-ui/src/services/api.ts
  frontend/chatbot-ui/src/types/index.ts
  start-project.ps1
Labels: backend, frontend, frontend-ui, frontend-console, docs, dependencies

Update documentation with v2/v3 revisions across multiple design specs
  document/トーク履歴記録.md
  document/ボット設定機能仕様.md
  document/初期設計書.md
  document/既存情報調査仕様.md
Labels: docs

Update documentation with v2/v3 revisions across multiple design specs (#37)
  document/トーク履歴記録.md
  document/ボット設定機能仕様.md
  document/初期設計書.md
  document/既存情報調査仕様.md
Labels: docs

Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: infra

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Labels: infra

Potential fix for code scanning alert no. 1: Insecure randomness
  frontend/chatbot-console/src/components/WebhookPanel.tsx
Labels: frontend, frontend-console

AI自動応答機能の実装と関連スクリプトの追加
  .claude/settings.local.json
  CLAUDE.md
  backend/chat-router/src/handlers/base_handler.py
  backend/chat-router/src/handlers/custom_handler.py
  backend/chat-router/src/lambda_function.py
  backend/chat-router/src/services/bedrock_client_service.py
  backend/chat-router/src/services/model_selector_service.py
  backend/chat-router/src/services/sqs_service.py
  backend/chat-router/src/storage.py
  backend/chat-router/template.yaml
  docker-compose.local.yml
  docker/localstack-init/01-create-resources.sh
  docker/scripts/init-ai-services.sh
  docker/test-data/test-bot-data.json
  docker/test-data/test-user-data.json
  document/AI自動応答機能仕様.md
  frontend/chatbot-ui/src/components/ChatInput.tsx
  frontend/chatbot-ui/src/hooks/useChat.ts
  scripts/README.md
  scripts/deploy/setup-aws-test-data.ps1
  scripts/dev/start-local-dev.ps1
  scripts/dev/start-project.ps1
  scripts/dev/stop-project.ps1
  start-project.ps1
  tests/fixtures/manual-lambda-event.json
  tests/integration/test-sqs-complete.sh
Labels: backend, frontend, frontend-ui, docs

.github/labeler.yml:

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

frontend-ui:
  - changed-files:
    - any-glob-to-any-file: 'frontend/chatbot-ui/**'

frontend-console:
  - changed-files:
    - any-glob-to-any-file: 'frontend/chatbot-console/**'

infra:
  - changed-files:
    - any-glob-to-any-file: '.github/**'
    - any-glob-to-any-file: 'template.yaml'
    - any-glob-to-any-file: 'samconfig.toml'

docs:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'document/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/requirements.txt'
